body{
    background-color: rgb(114, 172, 171);
    color: #0e4848;
}
.my-img{
    width: 350px;
}
div{
    display: inline-block;
    border: 2px solid #cfd6ea;
    width: 40px;
    height: 40px;
}
.my-div{
    width: 40px;
    height: 40px;
}